.switch {
  background-color: var(--color-naranja);
  color: var(--color-crema);
}

.switch:hover {
  background-color: var(--color-oscuro);
}

.link {
  color: var(--color-oscuro);
}

.link:hover {
  color: var(--color-naranja);
}

.outline {
  color: var(--color-crema);
  border: 1px solid var(--color-crema);
}

.outline:hover {
  color: var(--color-oscuro);
  background-color: var(--color-mapuche);
}

.disabled {
  cursor: none;
  border: 1px solid var(--color-crema);
}
