.switch {
  background-color: var(--color-naranja);
  color: var(--color-crema);
  font-family: 'Surt expanded medium';
}

.switch:hover {
  background-color: var(--color-oscuro);
}

.link {
  color: var(--color-oscuro);
  font-family: 'Surt expanded regular';
}

.link:hover {
  color: var(--color-naranja);
}

.outline {
  color: var(--color-crema);
  border: 1px solid var(--color-crema);
}

.outline:hover {
  color: var(--color-oscuro);
  background-color: var(--color-blanco);
}
