@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-oscuro: #401714;
  --color-marron: #59271A; 
  --color-carmesi: #73241D;
  --color-mandarina: #99402C;
  --color-naranja: #BF4F36;
  --color-crema: #F2CFC2;
  --color-mapuche : #D98C5F;
  --color-blanco: #FFFFFF;
  --color-oscuro-blur: #4017147a;
  --color-alert: #E3564C;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend';
  font-size: 16px;
  background-color: var(--color-blanco);
}

li.slick-active > li {
  width: 30px !important;
  background-color: var(--color-mapuche) !important;
}